{
  "sourceType": "unambiguous",
  "presets": [
    "@babel/preset-typescript",
    "@babel/preset-react",
    ["@babel/preset-env", {
      "modules": false,
      "targets": "> 0.25%, not dead"
    }]
  ],
  "plugins": []
}
